
CANDIDATES_PATH=./data/candidates.jsonl

OUTPUT_PATH=./output/submission.csv

TOP_N=100

USE_CROSS_ENCODER=false #(Optioal one still you can use cross encoder for better results)

PYTHONUNBUFFERED=1
